[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pyarrow = "*"
langchain = "*"
matplotlib = "*"
bs4 = "*"
tqdm = "*"
sentence-transformers = "*"
pandas = "*"
cuda-python = "*"
psycopg2-binary = "*"
psycopg2 = "*"
pgvector = "*"
openai = "*"
ipython = "*"
fastapi = "*"
ray = {extras = ["serve"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
